@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');
:root {
    --primary-colour: #7c3aed;
}
hr {
    margin: 1rem 0rem;
}
body {
    font-family:'Open Sans', sans-serif;
}
/** container **/
.fluid-container {
    padding-left: 1rem;
    padding-right: 1rem;
}
.center-container {
    max-width: 600px;
    margin: auto;
}
/** links **/
.first-link{
    background-color: var(--primary-colour);
    border-radius: 0.5rem;
    color: darkturquoise;
}
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.second-link {
    color: var(--primary-colour);
    border: 1px solid var(--primary-colour);
    border-radius: 00.5rem;
}
