@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-colour: #37474f;
    --color: #263238;
    --color-two:gray;
    --color-three:#cfd8dc;
    --color-four:#eceff1;
}

hr {
    margin: 1rem 0rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.center-container {
    max-width: 650px;
    margin: auto;
    text-align: center;
}

/** links **/
.first-link {
    background-color: var(--primary-colour);
    border-radius: 0.5rem;
    color:white
    
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.second-link {
    color: var(--primary-colour);
    border: 1px solid var(--primary-colour);
    border-radius: 00.5rem;
}

/** List **/
.no-bull {
    list-style: none;
}

.inline {
    display: inline;
    padding: 0rem 1rem;
    
}

.navigation {
    background-color: var(--primary-colour);
    color: white;
    padding: 1rem;
    border-radius: 0rem 0rem 0rem 2rem;
    max-width: 100%;
}

.nav-color {
    color: white;
    text-align: right;

}

.navigation .link {
    color: white;
}

.nav-brand {
    font-weight: bold;
    font-size: larger;
}

.link-active {
    font-weight: bold;
}

/**Header**/
.hero {
    padding: 2rem;
    text-align: center;
}

.hero .hero-img {
    max-width: 600px;
    display: block;
    margin: auto;
}

.hero .hero-title {
    padding-top: 1rem;
    color: var(--color-two);
}

.hero-title .highlight {
    color: var(--color);
}

/** Section **/
.section {
    padding: 1rem;
    background-color: var(--color-three);
}
.section-two{
    padding: 1rem;
    background-color:var(--color-four);
}

.section h1 {
    text-align: center;
}

/**Footer**/
.footer {
    background-color: var(--primary-colour);
    padding: 2rem 1rem;
    color: white;
    text-align: center;
    border-top-right-radius: 2rem;
}

.footer .link {
    color: white;
}
.footer .footer-header{
    font-size:x-large;
    font-weight: bold;
}

.footer ul {
    padding-inline-start: 0px;
}
.foot {
    padding-top: 1rem;
}